interface Vlan{{ vlan_id }}
 ip address {{ ip_address }} {{ subnet_mask }}
{% if description %}
 description {{ description }}
{% endif %}
{% if admin_up %}
 no shutdown
{% else %}
 shutdown
{% endif %}
